.row-grid{
    width: 70%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    row-gap: 1em;
    column-gap: 1em;
    justify-content:baseline;
}
.row-grid div{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgb(109, 109, 109);
    border-radius: 10px;
}
.row-grid h2{
    margin-top: -.5em;
    color: rgb(109, 109, 109);
}
.row-grid img{

    min-height: 80%;
    padding-bottom: 1em;
    background-color: white;
    border-radius: 10px;
}
/* --------------------------------------- */
.col-grid{
    padding-top: 2em;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    justify-content:space-evenly;
}

.col-grid div{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgb(109, 109, 109);
    border-radius: 10px;
}
.col-grid h2{
    margin-bottom:.5em;
    margin-top: -.5em;
    color: rgb(109, 109, 109);
}
.col-grid img{
    height: 100%;
    padding-bottom: 1em;
    background-color: white;
    border-radius: 10px;
}



